
body {
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

/*logo du site */
#logo {
    position: fixed;
    display: block;
    margin:0px;
    margin-bottom:5px;
    margin-left: 20px;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
}

/*structure*/
#top {
	text-align: center;
    background: #C2CFF1;
    height: 40px;
    width: 300px;
    padding:5px;
        float : right;
}

#footer {
	width: 100%;
    height: 30px;
    text-align: center;
    background: #C2CFF1;
    position: fixed;
    bottom:0;
}
#footer span{
    padding-right: 10px;
}

#content {
	position: relative;
	text-align:center;
	margin-left: 210px;
	margin-right:130px;
}
#content #render{
    height: 100%;
    overflow: hidden;
    text-align:center;
}
#content #tip{
    display: none;
    padding: 20px;
}

.toggler{  
	background: #EBEFF9  no-repeat left center;
	height:600px;
	width:16px;
    border-right: 1px solid #c2cff1;
    border-left: 1px solid #C2CFF1;
    text-align: center;
    font-weight: 800;
}
.toggler:hover{  
     background: #c2cff1;  
     cursor: pointer;  
}
#lefttoggler{
   float: left;   
}
#righttoggler{
   float: right;
}

.text90{
	-webkit-transform: rotate(-90deg)  translate(-150px,0px);
	-moz-transform: rotate(-90deg)  translate(-150px,0px);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   	-webkit-transform-origin:left top;
   	-moz-transform-origin:left top;
   	white-space: nowrap;
}

/*panneaux lateraux*/
.lateral {
	padding-left:5px;

}
#rightlateral {
	width: 120px;
	float: right;
	border-right : solid 1px #c2cff1;
}
#leftlateral {
	width: 200px;
	float: left;
	border-left : solid 1px #c2cff1;
}

#render{
	width:100%;
	height:100%;
}
/* tip */

#listeDesCourses{
	list-style-type: none;
	padding:0px;
}
/* coeur de page : semainier*/

 .repas {	
	width: 100%;
	min-height : 200px;
	margin-bottom: 5px;
	border: 1px solid black;
	background-color: #C2CFF1;
	text-align: center;
	cursor: move;	
	display: block;
}


.menu{
	list-style-type:none;
	width:100%;
}
.menu li{
	float:left;	
	margin: 5px;
	width: 12.5%;
}

.li_repas{
	list-style-type:none;
	padding:2px;	
	text-align: center;
	width:100%; 
	height: 100%;

}
.li_repas li{
	width:95%;
	padding:0px;	

}
	
.placeHolder div{ background-color:white !important; border:dashed 1px gray !important;min-height : 200px;}

#fixed{
	position : fixed;
}

#fixed > *{
	z-index: -1;
}


