#{extends 'main.html' /} #{set title:'RollPred' /}


<div id="pagewidth">
	<div id="header">
		<p id='logo'>RollPred</p>
	</div>
	<div id="wrapper" class="clearfix">
		<div id="twocols">
			<div id="maincol">
				<h1>Main Content Column</h1>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
				<div class=".jour" id="jour1">
					<div class="repas">repas midi</div>
					<div class="repas">repas soir</div>
				</div>
			</div>

			<div id="rightcol">
				<b>Liste des courses :</b>
				<p>3kg tomates</p>
				<p>3kg carottes</p>
				<p>15 citrons</p>
				<p>300g farine</p>
				<p>125g viande hachée</p>
			</div>
		</div>
		<a class="righttrigger trigger" href="#">liste des courses</a>
		<a class="lefttrigger trigger" href="#">explorateur</a>
		<div id="leftpanel">
				<ul>
					<li id='listeRecettes'><a href="#">Recettes</a>
						<ul>
							<li id="dessert"><a href="#">Dessert</a></li>
							<li id="plat"><a href="#">plat</a></li>
							<li id="entrée"><a href="#">entree</a></li>
							<li id="dessert"><a href="#">Dessert</a></li>
							<li id="plat"><a href="#">plat</a></li>
							<li id="entrée"><a href="#">entree</a></li>
							<li id="dessert"><a href="#">Dessert</a></li>
							<li id="plat"><a href="#">plat</a></li>
							<li id="entrée"><a href="#">entree</a></li>
							<li id="dessert"><a href="#">Dessert</a></li>
							<li id="plat"><a href="#">plat</a></li>
							<li id="entrée"><a href="#">entree</a></li>
							<li id="dessert"><a href="#">Dessert</a></li>
							<li id="plat"><a href="#">plat</a></li>
							<li id="entrée"><a href="#">entree</a></li>
						</ul></li>
				<ul>
		</div>
	</div>
</div>

<!-- you can put content here -->



<script type="text/javascript">
	$(document).ready(function(){
	    $(".righttrigger").click(function(){	        
	    	$("#rightcol").toggle("fast");
	        $(this).toggleClass("active");
	        return false;
	    });
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
	    $(".lefttrigger").click(function(){	        
	    	$("#leftpanel").toggle("fast");
	        $(this).toggleClass("active");
	        return false;
	    });
	});
</script>