#{extends 'main.html' /} #{set title:'RollPred' /}


	<div id="top">
			<p id='logo' href="/">RollPred</p>
	</div>
	
	<div id="buttonbar">
	<input type="button" value="File"/>
	<input type="button" value="Recette"/>
	</div>

	<div id="leftlateral" class="lateral">
		<ul>
			<li id='listRecettes'>
				<a href="">Recettes</a>
		<ul>
						<li id="dessert"><a href="">Dessert</a></li>
						<li id="plat"><a href="">plat</a></li>
						<li id="entrée"><a href="">entree</a></li>
						<li id="dessert"><a href="">Dessert</a></li>
						<li id="plat"><a href="">plat</a></li>
						<li id="entrée"><a href="">entree</a></li>
						<li id="dessert"><a href="">Dessert</a></li>
						<li id="plat"><a href="">plat</a></li>
						<li id="entrée"><a href="">entree</a></li>
						<li id="dessert"><a href="">Dessert</a></li>
						<li id="plat"><a href="">plat</a></li>
						<li id="entrée"><a href="">entree</a></li>
						<li id="dessert"><a href="">Dessert</a></li>
						<li id="plat"><a href="">plat</a></li>
						<li id="entrée"><a href="">entree</a></li>
		</ul>
			</li>
		</ul>
	</div>

	<div id="rightlateral" class="lateral">
		<ul id='listeDesCourses'>
			<li>3kg tomates</li>
			<li>3kg carottes</li>
			<li>1 citron</li>
			<li>300g farine</li>
			<li>beurre</li>
			<li>125g viande hachee</li>
		</ul>
		<script type="text/javascript">
		$("#listeDesCourses:first").dragsort();
	</script>
	</div>
	
	<div id="content">
		<div id="lefttoggler" class="toggler" ><span class="text90">Explorateur de Recettes</span></div>
		<div id="righttoggler" class="toggler"><span class="text90">Liste des Courses</span></div>
		<div id="render" >
			<i id="tip">tip of the rollpred</i>

			#{list items:1..7, as:'i'}
				<div class="jour" id="jour${i}">
					<div id="repas_midi${i}" class="repas" draggable="true">					
						<header>midi</header>
						<p id="entree${i}" class="element" >huitres ${i}</p>
						<p> ---- </p>
						<p id="plat${i}" class="element" >raviloi aux agrumes ${i}</p>
						<p> ---- </p>
						<p id="dessert${i}" class="element">pommes farcies aux noix ${i}</p>
					</div>
					<div id="repas_soir${i}" class="repas" draggable="true">
						<header>soir</header>
						<p id="entree${i}s" class="element" >huitres ${i}</p>
						<p> ---- </p>
						<p id="plat${i}s" class="element" >raviloi aux agrumes ${i}</p>
						<p> ---- </p>
						<p id="dessert${i}s" class="element">pommes farcies aux noix ${i}</p>
					</div>
				</div>
			#{/list}
			
		</div>
	
	</div>
	<script type="text/javascript">
		$("#render).dragsort({ dragSelector: "div", dragBetween: true, dragEnd: saveOrder, placeHolderTemplate: "<li class='placeHolder'><div></div></li>" });
	</script>
	
	<div id="footer">
		<span> footer rollpred</span>
	</div>

<script src="@{'/public/javascripts/scripts.mainscreen.rollpred.js'}"></script>
