<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8" />
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.hotkeys.js'}"></script>
        <script src="@{'/public/javascripts/jquery.jstree.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>

<script type="text/javascript"> $(function() {
$("#leftlateral").jstree(
		{
			"plugins" : ["themes","html_data","ui","crrm","hotkeys"],
		 	"core" : { "initially_open" : [ "listeRecettes" ] }
		})
		.bind("select_node.jstree", function (event, data) {
			// `data.rslt.obj` is the jquery extended node that was clicked
			id=data.rslt.obj.attr("id");
			//document.getElementById('aCommand').value=jQuery.trim(document.getElementById(id).textContent);
		})

});
</script>
</html>